.git
.gitattributes
.github
.env
.env.*
*.md
*.log
.gitignore
.editorconfig
.styleci.yml
Dockerfile
docker-compose*.yml
docker/php/
docker/nginx/Dockerfile
.dockerignore
node_modules/
tests/
phpunit.xml
phpstan.neon
.env.example
public/hot
public/storage
